{
  "env": {
    "test": {
      "presets": ["@nuxt/babel-preset-app"]
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
